@charset "UTF-8";
body, h1, h2, h3, h4, h5, h6, p, ul, li, input, dl, dt, dd, div, ol, form {
  padding: 0;
  margin: 0; }

body {
  color: #666;
  background: #FFF;
  font-family: "Microsoft YaHei UI", "Microsoft YaHei UI Light", "微软雅黑", "宋体", Helvetica-Black-SemiBold, Tahoma, Arial, sans-serif;
  font-size: 12px;
  line-height: 24px; }

img {
  border: 0; }

a:hover {
  color: #2738da; }

a, li {
  cursor: pointer;
  list-style: none;
  text-decoration: none; }

input {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit; }

*::after, *::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.pub_width {
  margin: 0 auto;
  width: 1200px; }

label {
  cursor: default; }

.wrap_box {
  width: 1200px;
  margin: 0 auto; }

.fl {
  float: left; }

.fr {
  float: right; }

.both_hidd::after {
  content: '\0020';
  display: block;
  clear: both;
  height: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.regtop {
  padding: 20px 0px;
  background: #f2f2f2; }
  .regtop .reglogo {
    float: left; }
  .regtop .login {
    float: left;
    width: 140px;
    height: 53px;
    padding-left: 30px;
    margin-top: 10px;
    margin-left: 35px;
    font-size: 28px;
    line-height: 50px;
    color: #333333;
    border-left: 1px solid #dbdbdb; }

#login_middle {
  width: 100%;
  background-color: #001029;
  overflow: hidden;
  height: 480px;
  border-bottom: 1px solid #dbdbdb;
  background: url("../img/styleImg/u=3213564594,2260758653&fm=23&gp=0.png") center center; }
  #login_middle .login_right {
    padding: 46px 0;
    background: url("../img/styleImg/loginBg.png") no-repeat center center;
    position: relative; }
    #login_middle .login_right .thirdland {
      width: 300px;
      position: absolute;
      left: 275px;
      top: 70px; }
      #login_middle .login_right .thirdland p {
        font-size: 14px;
        line-height: 20px;
        color: #000; }
      #login_middle .login_right .thirdland ul {
        margin-top: 38px; }
        #login_middle .login_right .thirdland ul li {
          float: left;
          width: 64px;
          text-align: center;
          margin-right: 30px; }
          #login_middle .login_right .thirdland ul li i {
            display: block;
            width: 64px;
            height: 64px;
            background: url(../img/styleImg/login_icon_re.png) no-repeat; }
          #login_middle .login_right .thirdland ul li:nth-child(1) i {
            background-position: 0 0; }
          #login_middle .login_right .thirdland ul li:nth-child(2) i {
            background-position: -64px 0; }
          #login_middle .login_right .thirdland ul li:nth-child(3) i {
            background-position: -129px 0; }
          #login_middle .login_right .thirdland ul li span {
            display: block;
            font-size: 14px;
            line-height: 20px;
            color: #000;
            margin-top: 10px; }
    #login_middle .login_right .login_login {
      margin-right: 250px;
      width: 340px;
      height: 390px;
      /*  padding: 25px 21px 18px 23px;*/
      float: right; }
      #login_middle .login_right .login_login .login_above {
        margin: 25px 22px 5px 22px;
        background: #FFFFFF; }
        #login_middle .login_right .login_login .login_above span {
          font-size: 18px;
          color: #686565;
          font-weight: 700; }
        #login_middle .login_right .login_login .login_above b {
          color: #999999;
          font-size: 12px;
          font-weight: normal;
          float: right; }
          #login_middle .login_right .login_login .login_above b a {
            padding-left: 8px;
            color: #137ce9; }

.login_error_section {
  height: 22px;
  line-height: 22px; }
  .login_error_section .error_tips {
    margin: 0 22px 0 22px;
    color: #b01330;
    line-height: 12px;
    display: none; }
    .login_error_section .error_tips i {
      width: 22px;
      height: 20px;
      display: inline-block;
      background: url("../img/styleImg/login_icon.png") no-repeat;
      background-position: 0px -240px;
      position: relative;
      top: 2px;
      left: 0; }

.login_account_total {
  margin: 10px 22px 0 22px;
  position: relative;
  height: 42px; }
  .login_account_total .input_size {
    display: block;
    width: 231px;
    height: 40px;
    border: 1px solid #FFFFFF;
    background: #f9f9f9;
    padding: 0 20px 0 43px;
    line-height: 40px;
    float: left;
    font-size: 13px;
    color: #666; }

.input_icon {
  padding: 8px 20px;
  height: 22px;
  font-size: 14px;
  font-weight: 400;
  display: inline-block;
  line-height: 1;
  color: #555;
  text-align: center;
  background-color: #f9f9f9;
  white-space: nowrap;
  vertical-align: middle;
  float: left;
  position: absolute;
  left: 2px;
  top: 2px; }

.user_icon {
  background: url("../img/styleImg/login_icon.png") no-repeat 14px -113px; }

.passw_icon {
  background: url("../img/styleImg/login_icon.png") no-repeat 14px -169px; }

.Sash_box {
  float: left;
  width: 288px;
  position: relative; }
  .Sash_box .Slider_tip {
    position: absolute;
    top: 0;
    left: 95px;
    font-size: 14px;
    color: #FFFFFF;
    line-height: 40px; }
  .Sash_box .bgSlider {
    width: 291px;
    height: 34px;
    float: left;
    background-color: #f55674;
    padding: 3px; }
    .Sash_box .bgSlider .Slider {
      width: 52px;
      height: 34px;
      background: transparent url(../img/styleImg/bg_draggable_qaptcha_1.png) no-repeat;
      cursor: pointer;
      position: absolute; }

.scuess {
  background: url(../img/styleImg/bg_draggable_qaptcha_1.png); }

.login_checkbox_all {
  margin: 10px 24px 10px 24px;
  line-height: 22px;
  height: 22px;
  color: #777777; }

#btnLogin {
  display: block;
  width: 295px;
  background: #b01330;
  border: none;
  cursor: pointer;
  margin: 0 22px 0 22px; }
  #btnLogin span {
    color: #FFF;
    line-height: 36px;
    font-size: 20px; }

.login_relat {
  margin-top: 98px;
  margin: 15px 22px 15px 22px;
  font-style: normal;
  color: #777777; }
  .login_relat a {
    display: block;
    float: left;
    margin-left: 10px;
    line-height: 30px;
    color: #137ce9; }

/*# sourceMappingURL=login.css.map */
