@charset "utf-8";
@import "base";
$bgColor: #b01330;
body{
    background: #f6f6f6;
}
.top {
    background-color: #f6f6f6;
    padding: 2px 0;
    height: 25px;
    .login_boxs a {
        color: $bgColor;
        &:hover{
            color: blue;
        }
    }
    .li_box {
        float: left;
        min-width: 80px;
        text-align: center;
        position: relative;
        z-index: 1000;
        a{
            color: #666;
        }
        a span {
            background-position: 0 0;
            width: 7px;
            height: 6px;
            display: inline-block;
            margin-left: 6px;
        }
        a span, .search_icon {
            background: url(../img/styleImg/index.png) no-repeat;
        }
        
        .user_con {//表佰
            position: absolute;
            top: 25px;
            background-color: #FFF;
            z-index: 2;
            padding: 10px;
            border-right: 1px solid #fe7901;
            border-bottom: 1px solid #fe7901;
            border-left: 1px solid #fe7901;
            display: none;
        }
        .user_con ul li {
            width: 60px;
            margin: 5px 0px;
        }
        .app_con {//手机端
            position: absolute;
            background-color: #FFF;
            padding: 10px;
            display: none;
            border: 1px solid #fe7901;
            z-index: 0;
            left: -32px;
            top: 24px;
            width: 138px;
            height: 250px;
        }
        .app_con ul li {
            margin: 5px 0px;
            text-align: center;
            padding: 2px;
        }
        .service_con {//客户服务
            position: absolute;
            right: -14px;
            top: 24px;
            background-color: #FFF;
            z-index: 0;
            padding: 10px;
            display: none;
            border: 1px solid #fe7901;
        }
        .service_con ul li {
            width: 90px;
            margin: 5px 0px;
            text-align: center;
        }
        
        .top_nav_menu {//网址导航
            display: block;
            border-top: 1px solid #F6F6F6;
            border-right: 1px solid #F6F6F6;
            border-left: 1px solid #F6F6F6;
            position: relative;
            text-align: center;
            z-index: 2;
            min-width: 80px;
        }
    }
} 
.li_box:hover .top_nav_menu{
    border-top: 1px solid #fe7901;
    border-right: 1px solid #fe7901;
    border-left: 1px solid #fe7901;
    background: white;
}
.li_box:hover .daohang{
    background: none;
}

.cart_midlle{
    border-bottom: 2px solid $bgColor;
    padding: 30px 0 12px 0;
    height: 72px;
    background: white;
    li{
        float: left;
        background-color: #d5d5d5;
        padding-left: 40px;
        margin-left: 15px;
        display: list-item;
        text-align: -webkit-match-parent;
        i{
            float: right;
            display: block;
            width: 15px;
            height: 28px;
            margin: 0 -15px 0 32px;
            background: url(../img/styleImg/index.png) no-repeat -120px -759px;
        }
        .last {//最后一个i
            background-position: -140px -759px;
        }
        &.current{
            background-color: #ff8a00;
            span{
                color: #fff;
            }
            i{
                background: url(../img/styleImg/index.png) no-repeat -100px -759px;
            }
        }
    }
}
/*!
 * 购物车商品
 */
.cart_centre{
    .cart_paget{
        line-height: 32px;
        margin: 0 0 -20px 0;
        padding-top: 15px;
        height: 32px;
        i{
            display: block;
            width: 24px;
            height: 24px;
            margin: 2px 10px 0 8px;
            background: url(../img/styleImg/index.png) no-repeat -100px -729px;
            float: left;
        }
        a{
            font-size: 14px;
            float: right;
            color: #666;
            &:hover{
                color: $bgColor;
            }
        }
    }
    .cart_fotbox {
        padding-bottom: 10px;
        margin: 35px 0;
        .cart_foboxt{
            background-color: #fff;
            position: relative;
            padding: 10px 0;
            .cart_checkall {//上部全选按钮
                vertical-align: middle;
                cursor: pointer;
                margin-right: 30px;
                display: inline-block;
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }
        .cart_items {//公用
            width: 122px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            text-align: center;
            vertical-align: middle;
            display: inline-block;
        }
        .add_goods {//加入购物车的商品
            background: #FFFFFF;
            padding: 10px;
            li{
                background: #fffbf0;
                position: relative;
                padding: 8px 0;
                border-bottom: 1px solid #e9e9e9;
                .cart_iblock {//选中
                    vertical-align: middle;
                    display: inline-block;
                    .cart_gdimg {//图片
                        width: 72px;
                        height: 72px;
                        margin-right: 15px;
                        overflow: hidden;
                    }
                    .cart_godd_wod {//商品详情
                        width: 320px;
                        height: 48px;
                        display: block;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        a{
                            color: #666;
                            font-weight: bold;
                        }
                    }
                }
                .goods_edit {//产地
                    width: 160px;
                    display: inline-block;
                    vertical-align: middle;
                    text-align: center;
                    border: 1px dashed #fff;
                    padding: 3px;
                    border-radius: 5px;
                }
                .cart_num{
                    margin: 0 auto;width: 70px;
                    input{
                        float: left;
                        background: #fffbf0;
                    }
                    .minus{//-
                        width: 16px;
                        height: 25px;
                        border: 1px solid #ddd;
                    }
                    .num{//输入框
                        width: 34px;
                        border: none;
                        border-top: 1px solid #DDDDDD;
                        border-bottom: 1px solid #DDDDDD;
                        white-space: nowrap;
                        text-align: center;
                        padding: 2px 0;
                        display: block;
                        height: 19px;
                        line-height: 19px;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        background: #fff;
                    }
                    .plus{//+
                        width: 16px;
                        height: 25px;
                        border: 1px solid #ddd;
                    }    
                }
                .cart_cut a{
                    color: #666;
                    &:hover{
                        color: $bgColor;
                    }
                }
            }
        }
        /*!
         * 操作区
         */
        .cart_fboxall{
            background-color: #FFFFFF;
            padding: 4px 4px 4px 12px;
            line-height: 32px;
            margin: 35px 0;
            .cart_chekall {//全选
                vertical-align: middle;
                cursor: pointer;
                margin-right: 30px;
            }
            .cart_delCheck{//删除选中商品
                color: #666;
                i {
                    width: 8px;
                    height: 8px;
                    margin: 12px 8px 0 0;
                    display: block;
                    background: url(../img/styleImg/index.png) no-repeat -100px -78px;
                    
                }
                &:hover{
                    color: $bgColor;
                }
                &:hover i{
                    background-position: -112px -78px;
                }
            } 
            .cart_delAll{
                color: #666;
                i {
                    width: 10px;
                    height: 10px;
                    margin: 11px 8px 0 0;
                    display: block;
                    background: url(../img/styleImg/index.png) no-repeat -130px -77px;
                }
                &:hover{
                   color: $bgColor; 
                }
                &:hover i{
                    background-position: -144px -77px;
                }
            } 
            .cart_moneyAll {//共计商品
                width: 740px;
                font-size: 18px;
                color: #000000;
                font-weight: bold;
                text-align: right;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                float: left;
                .color {
                    color: $bgColor;
                }
            }
            .cart_submitbtn {//结算按钮
                float: right;
                font-size: 18px;
                height: 32px;
                width: 128px;
                color: #FFF;
                background-color: $bgColor;
                border: none;
                cursor: pointer;
                display: block;
                text-align: center;
            }
        }
        /*!
         * 猜你喜欢
         */
        .tabsTitle {
            height: 36px;
            line-height: 36px;
            text-align: center;
            position: relative;
            z-index: 2;
            li {
                font-size: 14px;
                background: #eaeaea;
                float: left;
                padding: 0 20px;
                margin-right: 1px;
                cursor: pointer;
                white-space: nowrap;
            }
            .current {
                color: $bgColor;
                background-color: #FFF;
                font-weight: bold;
            }
        }
        //小轮播
        .tabsContent {
            background-color: #FFF;
            position: relative;
            z-index: 1;
            display: block;
            .bottom_rec_goodbox {
                position: relative;
                width: 1140px;
                height: 189px;
                padding: 10px 15px 15px 30px;
                overflow: hidden;
                .bottom_rec_goodpos li {
                    float: left;
                    margin-left: 30px;
                    width: 160px;
                    text-align: center;
                    &:hover .small_good_des a{
                        color: $bgColor;
                    }
                    .small_goodimg {
                        width: 100px;
                        border: 1px solid #FFF;
                        margin: 10px auto;
                        img{
                            width: 100px;
                            height: 100px;
                        }
                    }
                    .small_good_des {
                        margin: 5px 0;
                        min-height: 40px;
                        width: 100%;
                        max-height: 40px;
                        line-height: 20px;
                        overflow: hidden;
                        a{
                            color: #666;
                        }
                    }
                }
            }
            
            #bottom_rec_pre, #bottom_rec_next{
                width: 18px;
                height: 36px;
                position: absolute;
                top: 36%;
                cursor: pointer;
                z-index: 100;
                background: url(../img/styleImg/index.png) -100px -195px no-repeat;
            }
            #bottom_rec_next{
                right: 10px;
                background-position: -100px -158px;
            }
        }
    }
}
/*!
 * 底部
 */
.login_foot {
    border-top: 1px solid #e5e5e5;
    background: #F3F3F3;
    text-align: center;
    padding-bottom: 10px;
    .supuy_info {
        width: 280px;
        margin: 0 auto;
        padding: 10px 0px;
        height: 24px;
        ul{
            overflow: hidden;
            li {
                float: left;
                a {
                    border-right: 1px solid #999;
                    padding: 0px 10px;
                    color: #666;
                }
            }
        }
        .login_cory {
            padding-top: 2px;
            padding-bottom: 26px;
            color: #9C9C9C;
        }
    }
}
